<div id="nav">
	<img class="navimg" src="/assets/finished_name.png" />
	
	<img class="gradient" src="/assets/gradient_home.jpg" />

	<div class="links_grp">
		<%= link_to 'Home',"/main/home", class: "navlink" %>
		<%= link_to "About","/main/about", class: "navlink link_sel" %>
		<%= link_to "Membership","/main/membership", class: "navlink" %>
		<%= link_to "Watershed Advocacy","/main/advocacy", class: "navlink" %>
		<%= link_to "News & Events","/main/news", class: "navlink" %>
	</div>
</div>

<div id="page_head">
	<div class="title"> About </div>
</div>

<div id="about">	
	<p>
		The Coalition for the Delaware River Watershed was formed in 2012 to raise awareness of the River and its surrounding landscape by bringing together groups already working to restore degraded resources, safeguard vulnerable assets, and educate their communities.   By coordinating voices and actions across the Watershed, the Coalition is able to focus attention on the shared priorities of its members.
	</p>

	<div class="about_info">
		<div class="text">
			<h1> Mission: </h1>
			<p>
				The Mission of the Coalition for the Delaware River Watershed is to unite organizations and
				enhance their capacity to effectively advocate for protecting and restoring the Delaware River
				Basin by coordinating communications, messages, and actions and fostering accountability for
				success at the federal, state, and local levels.
			</p>
			
			<h1>How We Work</h1>
			<p>
				The Coalition is guided by a Steering Committee made up of local, regional and national organizations.  The Steering Committee meets monthly via conference calls and in-person meetings that are open to all Coalition members.
				</br></br>The Coalition also has subcommittees made up of representatives from the Steering Committee and other Coalition members.
			</p>
		</div>

		<img style="width: 500px; margin-left: 60px;" src="/assets/About_image.jpg" />

		<p class="caption">
			 This property in Sussex County DE was recently preserved by the Delaware Nature Society.  The river that runs through it is a tributary of the Mispillion that flows into the Delaware Bay.  
		</p>

	</div>

	<div class="committee">
		<h1>Steering Committee Members</h1>
		<p>
			Steering Committee meetings and conference calls are open to all Coalition
			members. The following organizations are members of the Steering Committee:
		</p>


		<div class="sc_member">
			<img src="/assets/ALS_logo.png" />
			<div class="info">
				<div class="title"><a href="http://www.littoralsociety.org/" target="blank">American Littoral Society</a></div>
				Representative: Tim Dillingham
			</div>
		</div>

		<div class="sc_member">
			<img src="/assets/AR_logo.png" />
			<div class="info">
				<div class="title"><a href="http://www.americanrivers.org/" target="blank">American Rivers</a></div>
				Representative: Laura Craig
			</div>
		</div>

		<div class="sc_member">		
			<img src="/assets/PF_logo.png" />
			<div class="info">
				<div class="title"><a href="http://www.pennfuture.org/" target="blank">Citizens for Pennsylvania’s Future</a></div>
				Representative: Joy Bergey
			</div>
		</div>

		<div class="sc_member">
			<img src="/assets/DNS_logo.png" />
			<div class="info">
				<div class="title"><a href="http://delawarenaturesociety.org/" target="blank">Delaware Nature Society</a></div>
				Representative: Ginger North
			</div>
		</div>

		<div class="sc_member">
			<img src="/assets/DHC_logo.png" />
			<div class="info">
				<div class="title"><a href="http://www.delawarehighlands.org/" target="blank">Delaware Highlands Conservancy</a></div>
				Representative: Sue Currier
			</div>
		</div>

		<div class="sc_member">
			<img src="/assets/DRN_logo.png" />
			<div class="info">
				<div class="title"><a href="http://www.delawareriverkeeper.org/" target="blank">Delaware Riverkeeper Network</a></div>
				Representative: Maya van Rossum
			</div>
		</div>

		<div class="sc_member">
			<img src="/assets/DU_logo.png" />
			<div class="info">
				<div class="title"><a href="http://www.ducks.org/" target="blank">Ducks Unlimited</a></div>
				Representative: Bernie Marczyk
			</div>
		</div>

		<div class="sc_member">
			<img src="/assets/FUDR_logo.png" />
			<div class="info">
				<div class="title"><a href="http://fudr.org/" target="blank">Friends of the Upper Delaware</a></div>
				Representative: Dan Plummer
			</div>
		</div>

		<div class="sc_member">
			<img src="/assets/NPCA_logo.png" />
			<div class="info">
				<div class="title"><a href="http://www.npca.org/" target="blank">National Parks Conservation Association</a></div>
				Representative: Cinda Waldbuesser
			</div>
		</div>

		<div class="sc_member">
			<img src="/assets/NWF_logo.png" />
			<div class="info">
				<div class="title"><a href="http://www.nwf.org/" target="blank">National Wildlife Federation</a></div>
				Representative: Tony Caligiuri
			</div>
		</div>

		<div class="sc_member">
			<img src="/assets/NJA_logo.png" />
			<div class="info">
				<div class="title"><a href="http://www.njaudubon.org/" target="blank">New Jersey Audubon Society</a></div>
				Representative: Kelly Mooij
			</div>
		</div>

		<div class="sc_member">
			<img src="/assets/PDE_logo.png" />
			<div class="info">
				<div class="title"><a href="http://delawareestuary.org/" target="blank">Partnership for the Delaware Estuary</a></div>
				Representative: Jennifer Adkins
			</div>
		</div>

		<div class="sc_member">
			<img src="/assets/PEC_logo.png" />
			<div class="info">
				<div class="title"><a href="http://www.pecpa.org/" target="blank">Pennsylvania Environmental Council</a></div>
				Representative: Patrick Starr
			</div>
		</div>
	</div>
</div>