<div id="nav">
	<img src="/assets/nav_img.png" /> <img style="width: 704px; height: 48px;" src="/assets/finished_name.png" />
	
	<div class="links_grp">
		<%= link_to 'Home',"/main/home", class: "navlink" %>
		<%= link_to "About","/main/about", class: "navlink" %>
		<%= link_to "Membership","/main/membership", class: "navlink" %>
		<%= link_to "Watershed Advocacy","/main/advocacy", class: "navlink link_sel" %>
		<%= link_to "News & Events","/main/news", class: "navlink" %>
	</div>
</div>


<div id="page_head">
	<div class="title"> Watershed Advocacy </div>
</div>

<div id="advocacy">

	<p>
		The diverse membership of the Coalition for the Delaware River Watershed is involved in all areas of Watershed protection and restoration—from helping to educate the next generation of caretakers, to working with decisionmakers on effective legislative and policy strategies, to preserving the wealth of flora and fauna that call the Watershed home.  Each of our members is a vital advocate for the health and wellbeing of the Delaware River, its many tributaries, and the millions of acres of surrounding forests, wetlands and scenic wild places.
	</p>
	<p>
		The Coalition benefits from the individual strengths and talents of our members—a rich blend of local, regional, state, and national groups.  In return, membership in the Coalition enhances the ability of our members to make a difference by leveraging their collective voices and know-how for greater impact.  By joining forces around shared concerns, we hope to better safeguard the Delaware River Watershed and its remarkable resources for future generations to enjoy.  Some of the ways the Coalition advocates on behalf of these concerns is through circulation of sign-on letters, coordinating outreach to legislators and agencies throughout the Watershed, and publicizing the work of its members.  
	</p>

	<h1> Key Initiatives </h1>

	<p>The Coalition is currently focused on two significant initiatives expected to bring lasting protection to the Watershed, restore degraded resources, and help enrich and strengthen partnerships among the groups working within its boundaries. </p>

	
	<h1>Delaware River Basin Conservation Act (DRBCA)</h1>
	<p> 
		Anticipated to be re-introduced in early 2013, the DRBCA creates a non-regulatory Delaware River Basin Restoration Program within the U.S. Fish and Wildlife Service to adopt and implement a watershed-wide investment strategy, in consultation with federal and state agencies and other partners. The DRBCA also provides for a competitive grant program and technical assistance to support locally driven, on-the-ground projects.  By providing for a coordinated conservation strategy and dedicated federal support, the DRBCA would finally allow the Delaware River Watershed to benefit from the same level of attention focused on other major basins of the United States.   The Coalition is a proud co-sponsor of an upcoming Congressional briefing to accompany re-introduction of the DRBCA and will continue undertake additional activities to support passage of this vitally important legislation.  To learn more about the DRBCA, <a href="http://www.nemw.org/index.php/delaware-river-conservation-act" target="blank">click here.</a>
	</p>

	<h1>National Blueway Designation </h1>
	<p>
		The National Blueways System was launched by the U.S. Department of the Interior in 2012 to recognize and support America’s great rivers and watersheds that are prized for their life-sustaining contributions to the human, wildlife and plant communities dependent on them. The program emphasizes a holistic “headwaters to mouth” approach to river-basin stewardship and encourages cohesive, watershed-wide partnerships. Among the benefits of Blueways designation is the development of inter-agency agreements that would allow for the alignment of priorities and funding across federal and state partners.  The Coalition has created a subcommittee to develop a proposal to designate the Delaware River Watershed as a National Blueway.  For more on how National Blueway designation could benefit the Delaware River Watershed, <a href="http://www.doi.gov/americasgreatoutdoors/whatwedo/rivers/Rivers-National-Blueway-System.cfm" target="blank">click here.</a>
	</p>


</div>