<div id="nav">
	<img class="navimg" src="/assets/finished_name.png" />
	
	<img class="gradient" src="/assets/gradient_home.jpg" />

	<div class="links_grp">
		<%= link_to 'Home',"/main/home", class: "navlink" %>
		<%= link_to "About","/main/about", class: "navlink" %>
		<%= link_to "Membership","/main/membership", class: "navlink" %>
		<%= link_to "Watershed Advocacy","/main/advocacy", class: "navlink" %>
		<%= link_to "News & Events","/main/news", class: "navlink link_sel" %>
	</div>
</div>


<div id="page_head">
	<div class="title"> News & Events </div>
</div>

<div id="news">

	<div class="news_items">
		<h1> News </h1>
		<p> The Delaware River Basin Conservation Act is Re-Introduced in the 113th Congress.  Learn more about it <a href="http://www.nemw.org/index.php/delaware-river-conservation-act" target="blank">here.</a></p>
	</div>


	<div class="events_items">
		<h1> Events </h1>
		<p>The Coalition’s Steering Committee meets monthly via conference calls and in-person meetings.  Calls and meetings are open to all Coalition members.  Upcoming calls and meetings are scheduled for: </p>
		<ul>
			<li>
				The Coalition is co-sponsoring a briefing on Capitol Hill on February 13, 2013 to coincide with the Reintroduction of the Delaware River Basin Conservation Act.  Speakers include Representative John Carney and Coalition members Jennifer Adkins from the Partnership for the Delaware Estuary and Bernie Marczyk from Ducks Unlimited.
			</li>
			<li>
				The Coalition’s Steering Committee meets monthly via conference calls and in-person meetings.  Calls and meetings are open to all Coalition members.  Upcoming calls and meetings are scheduled for: 
				<ul>
					<li>February 27, 2013 (in-person meeting; location TBD)</li>
					<li>March 27, 2013</li>
					<li>April 24, 2013</li>
				</ul>
			</li>
			<li>
				The Coalition’s Annual Meeting is tentatively scheduled for May 15, 2013.  More details coming soon.
			</li>
	</div>

	<p>For more information on participating in Steering Committee meetings, contact <a href="mailto:kim.beidler@njaudubon.org">Kim Beidler</a></p>

</div>
