<!DOCTYPE html>
<html>
<head>
  <title>Coalition For The Delaware River Watershed</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<div id="container">

				<div id="nav">
					<img src="/assets/finished_logo.png" />

					<div class="links_grp">
						<%= link_to 'Home',"/main/home", class: "navlink" %>
						<%= link_to "Membership","/main/membership", class: "navlink" %>
						<%= link_to "About","/main/about", class: "navlink" %>
						<%= link_to "News & Events","/main/news", class: "navlink" %>
						<%= link_to "Watershed Advocacy","/main/advocacy", class: "navlink" %>
					</div>
				</div>

				<%= yield %>

		</div>

	<div id="footer">
		Coalition For The Delaware River Watershed © 2013
	</div>

	</body>
</html>
